In [1]:
print("Hello")

Hello

In [3]:
## Objective: Get the raw data from Yfinance and store it in csv file in data folder
import yfinance as yf
import os

In [9]:
US_tickers=  ['TSLA', 'META', 'NVDA', 'PLTR', 'INTC']
indian_tickers = ['TATAMOTORS.NS', 'TCS.NS', 'HDFCBANK.NS', 'INFY.NS', 'ICICIBANK.NS']

In [6]:
# fetch just one ticker to test
data = yf.download('AAPL', period= '3y', interval= '1d')
data

C:\Users\302sy\AppData\Local\Temp\ipykernel_11960\1030179250.py:2: FutureWarning: YF.download() has changed argument auto_adjust default to True
  data = yf.download('AAPL', period= '3y', interval= '1d')
[*********************100%***********************]  1 of 1 completed

Price            Close        High         Low        Open     Volume
Ticker            AAPL        AAPL        AAPL        AAPL       AAPL
Date
2022-09-30  136.052338  140.876200  135.855449  139.084476  124925300
2022-10-03  140.236313  140.846688  135.550289  136.062212  114311700
2022-10-04  143.829590  143.947720  142.018172  142.776211   87830100
2022-10-05  144.124893  145.089675  140.787575  141.831115   79471000
2022-10-06  143.169983  145.247194  142.963255  143.544082   68402200
...                ...         ...         ...         ...        ...
2025-09-24  252.309998  255.740005  251.039993  255.220001   42303700
2025-09-25  256.869995  257.170013  251.710007  253.210007   55202100
2025-09-26  255.460007  257.600006  253.779999  254.100006   46076300
2025-09-29  254.429993  255.000000  253.009995  254.559998   40091100
2025-09-30  254.529999  255.919006  253.820099  254.824997   12178240

[752 rows x 5 columns]

In [8]:
# get indian stock data
ind_data = yf.download('TATAMotors.NS', period= '3y', interval= '1d')
ind_data

C:\Users\302sy\AppData\Local\Temp\ipykernel_11960\1352516258.py:2: FutureWarning: YF.download() has changed argument auto_adjust default to True
  ind_data = yf.download('TATAMotors.NS', period= '3y', interval= '1d')
[*********************100%***********************]  1 of 1 completed

Price,Close,High,Low,Open,Volume
Ticker,TATAMOTORS.NS,TATAMOTORS.NS,TATAMOTORS.NS,TATAMOTORS.NS,TATAMOTORS.NS
Date,,,,,
2022-09-30,398.674316,402.270853,386.751525,392.170973,20951277
2022-10-03,391.826111,400.595758,389.707605,399.561148,20332430
2022-10-04,401.925964,402.960604,396.999193,400.053797,12761425
2022-10-06,408.035187,411.533182,403.502551,403.601093,12771199
2022-10-07,406.113708,407.936620,402.714255,407.345401,10670854
...,...,...,...,...,...
2025-09-24,682.950012,703.299988,681.299988,700.500000,13252215
2025-09-25,664.299988,675.000000,655.299988,669.900024,24687611
2025-09-26,672.900024,680.349976,662.349976,666.000000,15780434
2025-09-29,672.500000,685.000000,670.000000,684.000000,13014474
2025-09-30,680.200012,683.500000,666.650024,672.000000,14989597

In [10]:
# get all the data of just 5 stocks each from US and India and store it in data folder
data_folder = '../data/raw/us_stocks'
os.makedirs(data_folder, exist_ok=True)
for ticker in US_tickers:
    data = yf.download(ticker, period= '3y', interval= '1d')
    data.to_csv(os.path.join(data_folder, f'{ticker}.csv'))

C:\Users\302sy\AppData\Local\Temp\ipykernel_11960\2284200294.py:5: FutureWarning: YF.download() has changed argument auto_adjust default to True
  data = yf.download(ticker, period= '3y', interval= '1d')
[*********************100%***********************]  1 of 1 completed
C:\Users\302sy\AppData\Local\Temp\ipykernel_11960\2284200294.py:5: FutureWarning: YF.download() has changed argument auto_adjust default to True
  data = yf.download(ticker, period= '3y', interval= '1d')
[*********************100%***********************]  1 of 1 completed
C:\Users\302sy\AppData\Local\Temp\ipykernel_11960\2284200294.py:5: FutureWarning: YF.download() has changed argument auto_adjust default to True
  data = yf.download(ticker, period= '3y', interval= '1d')
[*********************100%***********************]  1 of 1 completed
C:\Users\302sy\AppData\Local\Temp\ipykernel_11960\2284200294.py:5: FutureWarning: YF.download() has changed argument auto_adjust default to True
  data = yf.download(ticker, period= '3y', interval= '1d')
[*********************100%***********************]  1 of 1 completed
C:\Users\302sy\AppData\Local\Temp\ipykernel_11960\2284200294.py:5: FutureWarning: YF.download() has changed argument auto_adjust default to True
  data = yf.download(ticker, period= '3y', interval= '1d')
[*********************100%***********************]  1 of 1 completed

In [11]:
data_folder = '../data/raw/indian_stocks'
os.makedirs(data_folder, exist_ok=True)
for ticker in indian_tickers:
    data = yf.download(ticker, period= '3y', interval= '1d')
    data.to_csv(os.path.join(data_folder, f'{ticker}.csv'))

C:\Users\302sy\AppData\Local\Temp\ipykernel_11960\2258725153.py:4: FutureWarning: YF.download() has changed argument auto_adjust default to True
  data = yf.download(ticker, period= '3y', interval= '1d')
[*********************100%***********************]  1 of 1 completed
C:\Users\302sy\AppData\Local\Temp\ipykernel_11960\2258725153.py:4: FutureWarning: YF.download() has changed argument auto_adjust default to True
  data = yf.download(ticker, period= '3y', interval= '1d')
[*********************100%***********************]  1 of 1 completed
C:\Users\302sy\AppData\Local\Temp\ipykernel_11960\2258725153.py:4: FutureWarning: YF.download() has changed argument auto_adjust default to True
  data = yf.download(ticker, period= '3y', interval= '1d')
[*********************100%***********************]  1 of 1 completed
C:\Users\302sy\AppData\Local\Temp\ipykernel_11960\2258725153.py:4: FutureWarning: YF.download() has changed argument auto_adjust default to True
  data = yf.download(ticker, period= '3y', interval= '1d')
[*********************100%***********************]  1 of 1 completed
C:\Users\302sy\AppData\Local\Temp\ipykernel_11960\2258725153.py:4: FutureWarning: YF.download() has changed argument auto_adjust default to True
  data = yf.download(ticker, period= '3y', interval= '1d')
[*********************100%***********************]  1 of 1 completed

## This is old style where you copy the data into local - instead upload it to Google Cloud

In [2]:
# get the data from the yfinance and upload to google cloud bucket named as stockmarket-data

import datetime, time
import pandas as pd
from google.cloud import storage
import yfinance as yf

In [ ]:
# step 1: load the data into dataframe
df= pd.read_csv('../data/raw/us_stocks/TSLA.csv')
df.head()

,Price,Close,High,Low,Open,Volume
0,Ticker,TSLA,TSLA,TSLA,TSLA,TSLA
1,Date,NaN,NaN,NaN,NaN,NaN
2,2022-09-30,265.25,275.57000732421875,262.4700012207031,266.1499938964844,67726600
3,2022-10-03,242.39999389648438,255.16000366210938,241.00999450683594,254.5,98363500
4,2022-10-04,249.44000244140625,257.5,242.00999450683594,250.52000427246094,109578500

In [9]:
# step 2: upload the df into cloud storage service
from dotenv import load_dotenv
load_dotenv()
client = storage.Client()

In [10]:
export_bucket = client.get_bucket('stockmarket-data')
# export_blob = export_bucket.blob('raw/TSLA.csv')
# export_blob.upload_from_filename('../data/raw/us_stocks/TSLA.csv')

### The purpose of this notebook is over - testing my misc codes

In [4]:
from pathlib import Path
Path.cwd().parent

WindowsPath('s:/Scaler Projects/Automated-stockmarket-datapipeline')

In [23]:
import pandas as pd
df= pd.read_csv('../data/raw/us_stocks/TSLA.csv')
df.head()

,Price,Close,High,Low,Open,Volume
0,Ticker,TSLA,TSLA,TSLA,TSLA,TSLA
1,Date,NaN,NaN,NaN,NaN,NaN
2,2022-09-30,265.25,275.57000732421875,262.4700012207031,266.1499938964844,67726600
3,2022-10-03,242.39999389648438,255.16000366210938,241.00999450683594,254.5,98363500
4,2022-10-04,249.44000244140625,257.5,242.00999450683594,250.52000427246094,109578500

In [22]:
# remove the ticker and price instead keep date, open, high, low, close, adj close, volume
# remove first 0th row
df = df.drop(0).reset_index(drop=True)
df.head()

,Price,Close,High,Low,Open,Volume
0,Date,NaN,NaN,NaN,NaN,NaN
1,2022-09-30,265.25,275.57000732421875,262.4700012207031,266.1499938964844,67726600
2,2022-10-03,242.39999389648438,255.16000366210938,241.00999450683594,254.5,98363500
3,2022-10-04,249.44000244140625,257.5,242.00999450683594,250.52000427246094,109578500
4,2022-10-05,240.80999755859375,246.6699981689453,233.27000427246094,245.00999450683594,86982700

In [26]:
df= df.iloc[2:].reset_index(drop=True)
df.head()

,Price,Close,High,Low,Open,Volume
0,2022-09-30,265.25,275.57000732421875,262.4700012207031,266.1499938964844,67726600
1,2022-10-03,242.39999389648438,255.16000366210938,241.00999450683594,254.5,98363500
2,2022-10-04,249.44000244140625,257.5,242.00999450683594,250.52000427246094,109578500
3,2022-10-05,240.80999755859375,246.6699981689453,233.27000427246094,245.00999450683594,86982700
4,2022-10-06,238.1300048828125,244.5800018310547,235.35000610351562,239.44000244140625,69298400

In [27]:
df.columns= ['Date', 'Close', 'High', 'Low', 'Open', 'Volume']
df.head()

,Date,Close,High,Low,Open,Volume
0,2022-09-30,265.25,275.57000732421875,262.4700012207031,266.1499938964844,67726600
1,2022-10-03,242.39999389648438,255.16000366210938,241.00999450683594,254.5,98363500
2,2022-10-04,249.44000244140625,257.5,242.00999450683594,250.52000427246094,109578500
3,2022-10-05,240.80999755859375,246.6699981689453,233.27000427246094,245.00999450683594,86982700
4,2022-10-06,238.1300048828125,244.5800018310547,235.35000610351562,239.44000244140625,69298400

In [ ]:
# create a function for the above process
def process_raw_data(file_path):
    df= pd.read_csv(file_path)
    df= df.iloc[2:].reset_index(drop=True)
    df.columns= ['Date', 'Close', 'High', 'Low', 'Open', 'Volume']
    return df

,Price,Close,High,Low,Open,Volume
0,Ticker,TSLA,TSLA,TSLA,TSLA,TSLA
1,Date,NaN,NaN,NaN,NaN,NaN
2,2022-09-30,265.25,275.57000732421875,262.4700012207031,266.1499938964844,67726600
3,2022-10-03,242.39999389648438,255.16000366210938,241.00999450683594,254.5,98363500
4,2022-10-04,249.44000244140625,257.5,242.00999450683594,250.52000427246094,109578500
...,...,...,...,...,...,...
749,2025-09-24,442.7900085449219,444.2099914550781,429.0299987792969,429.8299865722656,93133600
750,2025-09-25,423.3900146484375,435.3500061035156,419.0799865722656,435.239990234375,96746400
751,2025-09-26,440.3999938964844,440.4700012207031,421.0199890136719,428.29998779296875,101628200
752,2025-09-29,443.2099914550781,450.9800109863281,439.5,444.3500061035156,79272500
753,2025-09-30,434.6054992675781,443.57989501953125,433.1199951171875,441.5899963378906,33915034

In [1]:
def load_and_process_raw_data(ticker_symbol, period, interval):
    df= yf.download(ticker_symbol, period=period, interval=interval)    
    df= df.iloc[2:].reset_index(drop=True)
    df.columns= ['Date', 'Close', 'High', 'Low', 'Open', 'Volume']
    return df

In [34]:
df = yf.download('TATAMOTORS.NS', period='3y', interval='1d')
df

C:\Users\302sy\AppData\Local\Temp\ipykernel_14240\3356921444.py:1: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download('TATAMOTORS.NS', period='3y', interval='1d')
[*********************100%***********************]  1 of 1 completed

Price,Close,High,Low,Open,Volume
Ticker,TATAMOTORS.NS,TATAMOTORS.NS,TATAMOTORS.NS,TATAMOTORS.NS,TATAMOTORS.NS
Date,,,,,
2022-10-03,391.826111,400.595758,389.707605,399.561148,20332430
2022-10-04,401.925934,402.960574,396.999163,400.053767,12761425
2022-10-06,408.035187,411.533182,403.502551,403.601093,12771199
2022-10-07,406.113739,407.936650,402.714285,407.345432,10670854
2022-10-10,390.151001,397.491872,387.293450,397.491872,32914630
...,...,...,...,...,...
2025-09-25,664.299988,675.000000,655.299988,669.900024,24687611
2025-09-26,672.900024,680.349976,662.349976,666.000000,15780434
2025-09-29,672.500000,685.000000,670.000000,684.000000,13014474
2025-09-30,680.200012,683.500000,666.650024,672.000000,15001606
2025-10-01,712.400024,712.950012,679.200012,681.000000,15592056

In [102]:
dfc= df.copy(deep= True)
dfc.head()

Price,Close,High,Low,Open,Volume
Ticker,TATAMOTORS.NS,TATAMOTORS.NS,TATAMOTORS.NS,TATAMOTORS.NS,TATAMOTORS.NS
Date,,,,,
2025-01-01,742.862976,744.697181,729.725926,734.138004,7792251
2025-01-02,758.528320,760.808702,742.962143,752.827336,15294572
2025-01-03,783.662231,793.775233,754.959005,761.453157,24773025
2025-01-06,769.632812,790.899973,758.776144,790.899973,16948151
2025-01-07,786.487915,790.156386,765.914799,769.384963,15547971

In [103]:
dfc.columns = dfc.columns.get_level_values(0)
dfc.reset_index(inplace=True)
dfc.head()

Price       Date       Close        High         Low        Open    Volume
0     2025-01-01  742.862976  744.697181  729.725926  734.138004   7792251
1     2025-01-02  758.528320  760.808702  742.962143  752.827336  15294572
2     2025-01-03  783.662231  793.775233  754.959005  761.453157  24773025
3     2025-01-06  769.632812  790.899973  758.776144  790.899973  16948151
4     2025-01-07  786.487915  790.156386  765.914799  769.384963  15547971

In [99]:
dfc.columns

np.float64(742.8629760742188)

In [75]:
dfc.reset_index(drop=True).head()

Price       Date       Close        High         Low        Open    Volume
0     2025-01-01  742.862976  744.697181  729.725926  734.138004   7792251
1     2025-01-02  758.528320  760.808702  742.962143  752.827336  15294572
2     2025-01-03  783.662231  793.775233  754.959005  761.453157  24773025
3     2025-01-06  769.632812  790.899973  758.776144  790.899973  16948151
4     2025-01-07  786.487915  790.156386  765.914799  769.384963  15547971

In [58]:
df = yf.download('TATAMOTORS.NS',start= "2025-01-01", end= "2025-06-01", interval='1d')
df

C:\Users\302sy\AppData\Local\Temp\ipykernel_14240\3351446557.py:1: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download('TATAMOTORS.NS',start= "2025-01-01", end= "2025-06-01", interval='1d')
[*********************100%***********************]  1 of 1 completed

Price,Close,High,Low,Open,Volume
Ticker,TATAMOTORS.NS,TATAMOTORS.NS,TATAMOTORS.NS,TATAMOTORS.NS,TATAMOTORS.NS
Date,,,,,
2025-01-01,742.862976,744.697181,729.725926,734.138004,7792251
2025-01-02,758.528320,760.808702,742.962143,752.827336,15294572
2025-01-03,783.662231,793.775233,754.959005,761.453157,24773025
2025-01-06,769.632812,790.899973,758.776144,790.899973,16948151
2025-01-07,786.487915,790.156386,765.914799,769.384963,15547971
...,...,...,...,...,...
2025-05-26,722.785583,731.708862,715.052087,715.845256,13017400
2025-05-27,710.342590,723.132587,709.103246,722.785595,12223125
2025-05-28,711.829834,715.845298,710.094752,713.862347,7568961
2025-05-29,718.274414,722.488185,713.862336,718.323976,8838921
2025-05-30,713.366577,722.339418,706.426249,718.274393,14533919

In [4]:
load_and_process_raw_data('TATAMOTORS.NS', '3y', '1d')

C:\Users\302sy\AppData\Local\Temp\ipykernel_14240\3695533477.py:2: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df= yf.download(ticker_symbol, period=period, interval=interval)
[*********************100%***********************]  1 of 1 completed

ValueError: Length mismatch: Expected axis has 5 elements, new values have 6 elements

In [105]:
# testing data ingestion

from src.data_ingestion import StockDataIngestionPipeline
pipeline= StockDataIngestionPipeline

ModuleNotFoundError: No module named 'src'

Removing the header and passing the data to the google cloud.

In [1]:
import pandas as pd

In [9]:
import yfinance as yf
data = yf.download('TCS.NS',period = '2y', interval='1d')
df = data.copy(deep= True)
df.head()

C:\Users\302sy\AppData\Local\Temp\ipykernel_13516\3882940612.py:2: FutureWarning: YF.download() has changed argument auto_adjust default to True
  data = yf.download('TCS.NS',period = '2y', interval='1d')
[*********************100%***********************]  1 of 1 completed

Price             Close         High          Low         Open   Volume
Ticker           TCS.NS       TCS.NS       TCS.NS       TCS.NS   TCS.NS
Date
2023-10-03  3404.859375  3424.578028  3372.156214  3424.578028  1948148
2023-10-04  3428.018311  3437.950383  3369.443358  3378.164201  1788138
2023-10-05  3478.017822  3511.592975  3441.050994  3443.764192  2990768
2023-10-06  3509.073486  3522.203248  3464.161285  3479.616510  2075691
2023-10-09  3525.498291  3564.887343  3518.376174  3531.990428  4233074

In [12]:
df.columns = df.columns.get_level_values(0)
df.head()

Price             Close         High          Low         Open   Volume
Date
2023-10-03  3404.859375  3424.578028  3372.156214  3424.578028  1948148
2023-10-04  3428.018311  3437.950383  3369.443358  3378.164201  1788138
2023-10-05  3478.017822  3511.592975  3441.050994  3443.764192  2990768
2023-10-06  3509.073486  3522.203248  3464.161285  3479.616510  2075691
2023-10-09  3525.498291  3564.887343  3518.376174  3531.990428  4233074

In [13]:
df.reset_index(inplace= True)
df.head()

Price       Date        Close         High          Low         Open   Volume
0     2023-10-03  3404.859375  3424.578028  3372.156214  3424.578028  1948148
1     2023-10-04  3428.018311  3437.950383  3369.443358  3378.164201  1788138
2     2023-10-05  3478.017822  3511.592975  3441.050994  3443.764192  2990768
3     2023-10-06  3509.073486  3522.203248  3464.161285  3479.616510  2075691
4     2023-10-09  3525.498291  3564.887343  3518.376174  3531.990428  4233074

In [17]:
csv_data = pd.DataFrame(df.values).to_csv(header=False, index=False)
csv_data

'2023-10-03,3404.859375,3424.578027645077,3372.156214446026,3424.578027645077,1948148\r\n2023-10-04,3428.018310546875,3437.9503825370116,3369.4433576845045,3378.164201383161,1788138\r\n2023-10-05,3478.017822265625,3511.592975040501,3441.050993791205,3443.764192410028,2990768\r\n2023-10-06,3509.073486328125,3522.2032478467167,3464.161284844492,3479.6165099714467,2075691\r\n2023-10-09,3525.498291015625,3564.8873430299323,3518.3761735639264,3531.9904277733135,4233074\r\n2023-10-10,3516.3408203125,3534.848482377593,3489.6455392572893,3527.145118113646,1848148\r\n2023-10-11,3497.929931640625,3536.786225623303,3493.1820118827413,3536.786225623303,2426417\r\n2023-10-12,3432.669189453125,3477.33914319273,3428.3572644071205,3464.1126259752996,4241281\r\n2023-10-13,3460.091552734375,3466.050700995378,3415.6636066560545,3420.5085195732972,2890357\r\n2023-10-16,3414.7431640625,3463.773541469456,3409.9467475268652,3455.3919366429436,1671104\r\n2023-10-17,3398.270751953125,3424.5300406151546,3394.685563354166,3420.5088571242204,1672065\r\n2023-10-18,3379.08447265625,3413.4348575042836,3375.935279298695,3402.0978087306885,1408245\r\n2023-10-19,3357.128662109375,3377.724435795141,3353.4855753272413,3370.583890830107,1514545\r\n2023-10-20,3394.919921875,3399.7287492235573,3345.859684173674,3352.0285024478358,1481211\r\n2023-10-23,3312.926513671875,3379.7650728061703,3304.3289695187937,3373.9847547683007,1106272\r\n2023-10-25,3293.447998046875,3327.3529006146546,3280.9156360547177,3293.8364991340104,1518537\r\n2023-10-26,3241.61865234375,3277.5151537064353,3235.0610960679364,3272.0263311031777,1984471\r\n2023-10-27,3255.4140625,3266.149073428411,3241.861825708093,3254.4911945226586,1108851\r\n2023-10-30,3282.226806640625,3286.4042600835396,3238.7040175514167,3254.4907262983866,910972\r\n2023-10-31,3272.706298828125,3302.0938655931122,3254.5394868094313,3302.0938655931122,999811\r\n2023-11-01,3235.6923828125,3275.475079563095,3216.602703260188,3259.3482541340773,1563475\r\n2023-11-02,3264.303466796875,3279.701440153492,3247.885144379397,3247.885144379397,1245384\r\n2023-11-03,3255.364990234375,3291.3101118879417,3248.9533000312704,3285.578417090908,1402598\r\n2023-11-06,3283.87890625,3295.5854075933803,3263.2347447951333,3278.7785840082092,1099852\r\n2023-11-07,3274.35791015625,3307.09707059183,3270.034827769469,3281.692705943335,1191144\r\n2023-11-08,3285.1416015625,3304.959899943294,3273.4837231784695,3275.3294590505507,992899\r\n2023-11-09,3252.013671875,3294.807847478932,3246.7677215232948,3293.4478565522354,2112352\r\n2023-11-10,3238.41259765625,3252.0134547356397,3227.6292032799515,3242.832923643077,1338557\r\n2023-11-13,3236.5673828125,3260.3202645985875,3232.1470561142733,3260.3202645985875,1030990\r\n2023-11-15,3307.24267578125,3315.6945893553025,3260.36829431732,3286.647140066283,2059802\r\n2023-11-16,3398.1259765625,3428.7279078269194,3316.860705674454,3332.2589151668635,3951984\r\n2023-11-17,3402.5947265625,3424.0161261282296,3392.9770714987762,3398.126015365074,2021292\r\n2023-11-20,3419.255615234375,3433.1477297126785,3391.7137843689516,3391.7137843689516,1475621\r\n2023-11-21,3410.12353515625,3438.1511114703258,3401.1858762052193,3419.255681816323,1807236\r\n2023-11-22,3429.504638671875,3431.9333631832583,3381.8532535026366,3400.2143159366433,1798051\r\n2023-11-23,3408.229248046875,3442.960009998753,3400.214456827211,3429.3591521714443,2729804\r\n2023-11-24,3358.537353515625,3404.6344953199005,3354.554150616492,3394.628103328027,1989733\r\n2023-11-28,3371.21533203125,3381.9989639949645,3335.124579790223,3358.537579518945,1689195\r\n2023-11-29,3413.57275390625,3417.7015861237105,3376.7047583651943,3381.7564585834666,1441634\r\n2023-11-30,3388.168212890625,3416.3898042648802,3381.756284786853,3399.6802257031122,3266235\r\n2023-12-01,3411.5322265625,3416.681170187955,3390.5481881740484,3400.2144647162854,1172141\r\n2023-12-04,3412.3095703125,3446.6518323292607,3398.2715890288414,3443.591496909269,1625213\r\n2023-12-05,3430.913818359375,3437.13125883399,3402.9348618633057,3437.13125883399,1377656\r\n2023-12-06,3501.34716796875,3509.847705381584,3424.6478435110953,3431.8856336810186,1896572\r\n2023-12-07,3511.838623046875,3527.0425817635564,3489.3001055832606,3502.2209682419298,1967653\r\n2023-12-08,3523.302001953125,3541.080312687416,3499.3548733113907,3529.4224351147827,1641155\r\n2023-12-11,3539.040283203125,3548.8524255699126,3511.935811233297,3519.6104861838535,1102503\r\n2023-12-12,3567.408203125,3592.958198083649,3527.4798728429014,3535.203170212462,2236866\r\n2023-12-13,3491.09716796875,3545.937718953249,3461.4181075699794,3539.6716572694795,3850968\r\n2023-12-14,3562.6962890625,3573.139805350569,3524.1768099046108,3526.508290761981,3290396\r\n2023-12-15,3750.922119140625,3784.875640226735,3562.1616034971344,3562.1616034971344,8531230\r\n2023-12-18,3749.17333984375,3816.983374435695,3720.9515140856697,3748.104843385757,2521612\r\n2023-12-19,3707.3994140625,3745.190510474739,3681.946428143026,3735.378368393123,2004435\r\n2023-12-20,3672.280029296875,3787.6444418961732,3659.1649171276918,3718.134299963476,2586083\r\n2023-12-21,3679.517578125,3698.170134649371,3636.6263987860348,3649.158522199876,1517562\r\n2023-12-22,3714.977294921875,3736.3014503162685,3654.744922462368,3691.6615378407755,2413058\r\n2023-12-26,3687.338623046875,3724.692363133663,3682.0924351569024,3710.945875601359,1285231\r\n2023-12-27,3702.542236328125,3709.3426655856683,3660.5739203461735,3690.6901070581507,1293976\r\n2023-12-28,3691.56396484375,3728.5778207819258,3683.9865342121075,3714.97696369726,1682889\r\n2023-12-29,3685.249755859375,3713.6174511766944,3658.048038186448,3683.889764847791,1574996\r\n2024-01-01,3702.4453125,3722.7493568655395,3665.431451840731,3681.9467804072015,825907\r\n2024-01-02,3675.34033203125,3702.445040999075,3659.8451164485364,3702.445040999075,1344068\r\n2024-01-03,3586.497802734375,3664.3142378242237,3581.9318476857156,3659.602416983921,1803075\r\n2024-01-04,3562.259033203125,3612.97075599101,3546.9094461207787,3596.2125560606937,3598144\r\n2024-01-05,3631.331787109375,3640.9010569292664,3570.0795422889087,3570.2251708932167,1963127\r\n2024-01-08,3573.43115234375,3633.1291560173595,3567.699219937264,3631.3318049280083,1067805\r\n2024-01-09,3584.7001953125,3645.3699243725832,3577.7541379650293,3604.1786136578194,1370944\r\n2024-01-10,3607.1904296875,3622.9285177983875,3582.854561544668,3584.7975412418177,1292227\r\n2024-01-11,3629.049072265625,3665.4313208716426,3601.3129887281157,3617.8283167044788,1777909\r\n2024-01-12,3772.1005859375,3793.910484182262,3712.6454585109796,3738.2926939717927,6813450\r\n2024-01-15,3792.502197265625,3851.9573298002842,3774.238140296117,3847.0998804562737,2801505\r\n2024-01-16,3751.213623046875,3787.8387411769872,3745.6275566806867,3787.8387411769872,1432672\r\n2024-01-17,3773.849853515625,3798.476980780103,3703.8539570577464,3710.1200196313043,3458696\r\n2024-01-18,3791.336181640625,3797.3593709539373,3751.893600958396,3786.867233696485,2239110\r\n2024-01-19,3839.487548828125,3859.44912521602,3812.2229566885608,3841.3862853778837,2941975\r\n2024-01-23,3756.91455078125,3830.5775375966236,3741.821652307302,3797.568003122368,2618854\r\n2024-01-24,3740.896728515625,3781.6474126000853,3705.647554381068,3778.0933734612445,2657709\r\n2024-01-25,3710.22412109375,3759.592459378295,3679.4539867078256,3739.0465469098717,2205154\r\n2024-01-29,3701.16845703125,3719.669430639141,3681.547782743708,3700.973757486317,1646747\r\n2024-01-30,3700.730224609375,3746.739223534862,3687.5360620279253,3707.4489039642863,1411621\r\n2024-01-31,3715.725830078125,3733.3018029087534,3696.7379883575404,3711.1005865820853,2459358\r\n2024-02-01,3752.92236328125,3802.3394370231667,3705.112095657625,3719.669392987647,2363107\r\n2024-02-02,3862.126708984375,3879.751176833713,3770.3034145401643,3773.2733550130965,2826510\r\n2024-02-05,3868.94287109375,3916.363737022214,3858.0370822757613,3878.3880568273194,1691523\r\n2024-02-06,4027.36962890625,4040.9044559236536,3885.204259994182,3892.0204078187335,4474396\r\n2024-02-07,3976.1513671875,4045.870922703787,3966.9496144396635,4043.923451742197,2124267\r\n2024-02-08,4025.519775390625,4048.791957302528,3978.7317399785748,3982.5779474187925,2345173\r\n2024-02-09,4025.130615234375,4074.83962218713,3992.315538793771,4027.905381036157,2100596\r\n2024-02-12,4012.471923828125,4050.350138353779,3997.7194511568555,4021.527473476732,1013716\r\n2024-02-13,4040.51513671875,4060.4767128852122,3974.301127971461,4017.0969899842103,1257415\r\n2024-02-14,3992.41259765625,4006.8236913539386,3943.141491460348,3999.1312768064327,1391283\r\n2024-02-15,3995.431396484375,4037.399013046153,3975.7617506652705,4019.5798449047847,1091582\r\n2024-02-16,4019.871337890625,4039.0056173250064,3992.412287096126,4005.216811483546,1307556\r\n2024-02-19,3996.01513671875,4019.871653973267,3948.4970394720403,4014.7595431330133,772291\r\n2024-02-20,3924.78662109375,3990.367797483419,3904.6790795286747,3974.8854992170372,1193648\r\n2024-02-21,3886.6650390625,3956.62802606332,3876.051417775102,3907.6003511857225,1885939\r\n2024-02-22,3979.754150390625,3987.3978308394308,3866.7033724629737,3866.7033724629737,2982052\r\n2024-02-23,3945.673583984375,4021.5274818311927,3940.1231016354586,4021.5274818311927,2538072\r\n2024-02-26,3895.964111328125,3943.6284121215494,3878.144705772124,3929.996116375944,1379284\r\n2024-02-27,3996.599609375,4015.68491892097,3893.967990001203,3893.967990001203,2960475\r\n2024-02-28,4010.767578125,4045.7730801502776,3981.6040129877983,3988.0307616584355,1939225\r\n2024-02-29,3987.5439453125,4029.414567656157,3957.7962811947627,3991.3414182941815,3772719\r\n2024-03-01,3986.813720703125,4031.2646476321634,3979.461970720343,3999.3263159688886,2043265\r\n2024-03-04,3973.52197265625,4009.744881748288,3968.8479952218395,3997.183790263655,1749271\r\n2024-03-05,3906.72412109375,3957.2608962074078,3875.467117840916,3955.31342529392,2070859\r\n2024-03-06,3957.552978515625,3965.050693824185,3854.4829875644286,3889.148064163673,1744204\r\n2024-03-07,4000.689453125,4015.684883544461,3931.6514690128774,3958.2344936004447,2688905\r\n2024-03-11,4014.07861328125,4043.9235111144435,3981.6044394285964,3981.6044394285964,2304068\r\n2024-03-12,4082.14208984375,4118.8521033401985,4012.811941572475,4014.078082822845,4039801\r\n2024-03-13,4040.028564453125,4129.612229897735,4023.377592414998,4094.5577521150612,2837260\r\n2024-03-14,4097.08935546875,4114.03225712865,3978.683030207731,4044.3616761876724,2919608\r\n2024-03-15,4108.43310546875,4127.664379707775,4067.2927846283033,4082.48315202997,3373143\r\n2024-03-18,4043.436767578125,4143.00122500976,4009.6969267281047,4104.538671772111,1526904\r\n2024-03-19,3872.837890625,3951.418290603149,3862.4189692920513,3944.8455765909334,8931209\r\n2024-03-20,3866.605712890625,3912.4687442321783,3856.1867919038723,3881.309212172589,1817913\r\n2024-03-21,3868.601806640625,3903.1206772114424,3844.3071572326603,3885.252776197185,3829582\r\n2024-03-22,3808.181884765625,3834.5702106105446,3753.75016808117,3794.647057071938,5852485\r\n2024-03-26,3775.6591796875,3843.0416247876974,3769.768032712524,3773.2248410803513,3440925\r\n2024-03-27,3740.0205078125,3792.6996923404718,3728.8225497991716,3786.3704117242423,1968575\r\n2024-03-28,3774.49072265625,3812.1742365291384,3739.63094645981,3748.9789017480143,4311783\r\n2024-04-01,3813.878173828125,3829.9935424376545,3785.9320150576273,3795.328466689312,1569676\r\n2024-04-02,3781.793701171875,3807.1595566059486,3771.277311008361,3787.8308132771813,2142666\r\n2024-04-03,3843.6259765625,3876.440813572816,3749.8552054933216,3749.8552054933216,3973090\r\n2024-04-04,3898.15478515625,3922.838833711109,3831.8920468568504,3871.4742938542518,3394637\r\n2024-04-05,3874.736572265625,3896.8890525116617,3856.4790336013084,3873.519403021337,1636819\r\n2024-04-08,3868.212890625,3926.7342497611535,3855.9924629253546,3878.3883787453756,2302538\r\n2024-04-09,3842.895751953125,3910.3756673113057,3821.9604394283224,3879.3620976192556,1876992\r\n2024-04-10,3879.994873046875,3885.399152350213,3815.095500273694,3852.4868465326504,2101965\r\n2024-04-12,3896.3046875,3907.941015572423,3841.8729743875037,3866.703226788183,4354821\r\n2024-04-15,3837.68603515625,3957.4554932330634,3816.117890439459,3896.3048605880067,4200329\r\n2024-04-16,3771.082763671875,3825.5144811790165,3761.394143322113,3799.5157917590436,3051420\r\n2024-04-18,3760.56640625,3832.62283143449,3748.881580544407,3774.9777388325756,3476284\r\n2024-04-19,3725.70654296875,3751.364567248346,3701.070988460548,3737.1966688605844,2957749\r\n2024-04-22,3763.097900390625,3776.145859584588,3711.8793235524627,3736.2227084131164,1728883\r\n2024-04-23,3772.93310546875,3792.699984770746,3759.2035767873685,3775.2214791131837,1807586\r\n2024-04-24,3730.428955078125,3795.620490873651,3724.002206513264,3787.8306078754495,1317312\r\n2024-04-25,3751.023681640625,3771.9102596572366,3710.9058283393892,3711.1005278852026,2856271\r\n2024-04-26,3720.98388671875,3774.977467405439,3702.6776135505615,3753.8959532403615,2039178\r\n2024-04-29,3768.550537109375,3775.951020925688,3718.890033823393,3737.1963061097795,1110693\r\n2024-04-30,3720.30224609375,3779.797577086431,3709.9320586589297,3770.3036564638783,2203078\r\n2024-05-02,3761.832275390625,3769.4274595752354,3678.8213268689515,3678.8213268689515,2491044\r\n2024-05-03,3742.45458984375,3791.3362977409042,3697.857698127601,3787.976720384603,2962234\r\n2024-05-06,3818.0654296875,3836.468934581478,3751.802684840144,3751.802684840144,2053831\r\n2024-05-07,3874.4443359375,3883.2566886567797,3810.713402973497,3827.5590725637444,2062112\r\n2024-05-08,3872.4970703125,3879.6541208134627,3835.1544592136574,3856.9660377516016,1247685\r\n2024-05-09,3856.18701171875,3866.7034019340017,3807.354274876837,3857.939783042688,1726486\r\n2024-05-10,3791.62841796875,3869.23532442329,3783.011001772584,3858.5242343481314,1672489\r\n2024-05-13,3844.112548828125,3851.123395960307,3768.3558893467475,3782.475052239649,931326\r\n2024-05-14,3798.736572265625,3842.1652670810554,3790.654520735424,3832.6226124211207,1058317\r\n2024-05-15,3778.48291015625,3823.8103424803703,3773.7117015867125,3801.950029375647,1115021\r\n2024-05-16,3826.101318359375,3834.487314976301,3769.7536756903473,3816.440456776042,2599399\r\n2024-05-17,3760.5341796875,3844.7858973181783,3756.5127517164856,3843.805084589271,2765804\r\n2024-05-21,3746.90087890625,3770.9798801907446,3736.94572511883,3757.1014753412887,1908117\r\n2024-05-22,3758.474365234375,3767.5468829479496,3744.301669237929,3761.4168034117506,1311168\r\n2024-05-23,3818.7451171875,3830.073551639933,3752.0989428421417,3767.252451000279,2095742\r\n2024-05-24,3775.638671875,3809.280597008828,3770.5384934787426,3803.8370383684164,1309452\r\n2024-05-27,3773.23583984375,3833.359710936332,3767.645254908774,3781.0332535259204,1841538\r\n2024-05-28,3766.222900390625,3795.745460868769,3756.512949645319,3783.975707501734,1801993\r\n2024-05-29,3730.668212890625,3775.04998854492,3727.0883422391244,3775.04998854492,1568095\r\n2024-05-30,3664.414306640625,3721.5954936503754,3644.160381361953,3704.529449000612,2919230\r\n2024-05-31,3600.514404296875,3677.851583002053,3583.644473414878,3668.239570460936,10956800\r\n2024-06-03,3631.80224609375,3679.5677746423194,3625.083583604637,3661.1775373066625,2156773\r\n2024-06-04,3643.719482421875,3673.1438658600055,3522.5891039349026,3629.0072907028093,3395997\r\n2024-06-05,3674.56591796875,3711.1993703487906,3629.0072131436405,3644.700217308586,2799670\r\n2024-06-06,3756.90478515625,3766.222505595086,3669.710633884787,3708.4527346567897,4328036\r\n2024-06-07,3819.235595703125,3839.881751093866,3763.672651587923,3763.672651587923,4552445\r\n2024-06-10,3784.661865234375,3830.956176142604,3768.1841642111144,3820.265413643011,1734661\r\n2024-06-11,3778.188720703125,3805.5042108924868,3767.3016038836363,3771.2248547077797,1419898\r\n2024-06-12,3758.130859375,3818.7942202199274,3754.0114939556183,3800.060602001018,2177001\r\n2024-06-13,3803.738525390625,3815.3612512057043,3778.090370088528,3782.798318752467,1932323\r\n2024-06-14,3758.523681640625,3814.38092186984,3754.551341969079,3814.38092186984,1860730\r\n2024-06-18,3741.898681640625,3768.282447869505,3722.2333388301226,3752.638532969622,1774045\r\n2024-06-19,3728.755615234375,3760.2888873952325,3720.1735040598087,3754.2076570551294,1509050\r\n2024-06-20,3714.58349609375,3736.8479000768994,3707.5216914081,3723.1656086004027,2846526\r\n2024-06-21,3737.632080078125,3803.395620974485,3725.1758064009155,3753.5702868094163,4642195\r\n2024-06-24,3743.566162109375,3782.994786873642,3718.5554369174442,3735.6705715594985,1702154\r\n2024-06-25,3764.800537109375,3773.823966241929,3720.1244698231185,3743.7621521570873,1338808\r\n2024-06-26,3781.86669921875,3792.753576383001,3767.301535017876,3770.7343794262497,1639845\r\n2024-06-27,3858.664306640625,3866.363782355002,3744.841180868651,3757.493569305432,4526556\r\n2024-06-28,3829.239990234375,3884.0184779341994,3823.06106149356,3842.6282279040265,2731571\r\n2024-07-01,3901.868896484375,3924.9179941146667,3809.476391321427,3809.476391321427,2658723\r\n2024-07-02,3940.31689453125,3946.20177080493,3906.135715182029,3916.973743543969,2307449\r\n2024-07-03,3889.16748046875,3948.8500278460997,3879.11415049591,3942.866974713921,1821198\r\n2024-07-04,3943.798583984375,3969.692181663131,3905.694156139341,3923.1035807071153,2518001\r\n2024-07-05,3934.82421875,3949.487319907648,3911.4808298979824,3933.0587080970186,1668616\r\n2024-07-08,3916.58154296875,3953.901517117693,3901.7223251427313,3944.8289989078726,1758882\r\n2024-07-09,3909.029052734375,3930.0674374566415,3898.8286963406176,3908.5386463797477,1305801\r\n2024-07-10,3834.144287109375,3926.4879565238293,3827.1315713247377,3907.2639297321116,2669716\r\n2024-07-11,3848.414794921875,3903.634598566715,3820.854101354475,3855.574775619537,4872189\r\n2024-07-12,4103.67138671875,4119.364389532469,3895.1014275239318,3903.6344499126476,13509164\r\n2024-07-15,4089.2041015625,4158.645442384525,4077.2868452898947,4154.428139750842,4848030\r\n2024-07-16,4098.27734375,4114.068046345619,4065.3707877010006,4091.95090976698,2029521\r\n2024-07-18,4232.74658203125,4242.015454763309,4080.1813391480614,4080.1813391480614,5613364\r\n2024-07-19,4229.6494140625,4285.046672091509,4212.789504234044,4244.395774849738,3903354\r\n2024-07-22,4214.853515625,4246.9023647010945,4192.881345045204,4227.240553001,1896386\r\n2024-07-23,4229.6005859375,4287.947117977994,4194.159876371138,4210.577683912533,2365208\r\n2024-07-24,4233.43408203125,4265.728705663419,4195.92927000032,4215.001132472334,1809793\r\n2024-07-25,4249.40966796875,4269.563027874675,4201.926577858845,4222.374672972997,2810342\r\n2024-07-26,4313.65478515625,4347.669820651988,4263.71348771561,4276.444704766146,3552210\r\n2024-07-29,4307.01904296875,4356.075176096543,4297.0897302455405,4340.345723869609,1746803\r\n2024-07-30,4291.53515625,4323.632972146041,4254.128266463847,4316.849742205607,1797906\r\n2024-07-31,4311.19677734375,4339.36222911044,4271.52897269707,4276.444426060357,2330091\r\n2024-08-01,4322.748046875,4344.572371561555,4291.239703135842,4325.008963388223,2202244\r\n2024-08-02,4210.62646484375,4323.632933737026,4197.797323114393,4291.190940373379,2811282\r\n2024-08-05,4084.791259765625,4167.321924905007,4040.994756386419,4167.321924905007,2787771\r\n2024-08-06,4100.66845703125,4186.246317493068,4090.443928890724,4100.422684336041,2203067\r\n2024-08-07,4129.42333984375,4173.170874055229,4109.613679096742,4156.507295418715,1237666\r\n2024-08-08,4101.99462890625,4160.439559050725,4089.6570334714115,4110.301936765378,2441283\r\n2024-08-09,4157.2451171875,4181.72398149421,4134.437219184381,4145.693800574564,1302536\r\n2024-08-12,4124.70458984375,4167.321669660878,4115.562037921638,4158.473852952468,936912\r\n2024-08-13,4125.98291015625,4162.406230389115,4112.268602200677,4141.761324664464,1495593\r\n2024-08-14,4222.62060546875,4233.385641348028,4117.33148860454,4137.82902704568

In [16]:
import numpy as np
np.savetxt("Output.csv", df.values, delimiter= ",", fmt= "%s")